*{
    margin : 0;
    padding : 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    height : 100vh; 
    background : 
        linear-gradient(
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        ),
    
    url(gaming6.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    height: 60px;
    display :flex;
    align-items: center;
    justify-content: space-around;
    color : white;
    background-color : #000;
}
header ul{
    list-style: none;
    display : flex;
}
header ul li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
header ul li:hover{
    background : linear-gradient(#e0ad07 , #c20583);
    color : #000;
    font-style:normal;
}
header ul li :nth-child(1){
    border-top : 4px solid rgb(17, 2, 100)
}
main{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main p {
    font-family: monospace;
    position: absolute;
    width: 900px;
    height: 80px;
    line-height: 80px;
    text-align:center;
    font-size: 40px;
    color : white;
    border-radius : 20px;   
    
}

.button-85 {

  padding: 2em 3em;
  border:none;
  outline:none;
  color: white;
  background:black;
  cursor:pointer;
  position:relative;
  z-index:5;
  border-radius:10px;
  user-select:none;
  -webkit-user-select:none;
  touch-action:manipulation;
  
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position:absolute;
  top: -2px;
  left: -2px;
  background-size: 700%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.8s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
  background-image: green;
}
.button-85:hover{
    font-size: medium;
    color : rgb(8, 255, 255);
    

}