<!DOCTYPE html>
<html>
<head>
    <style>
        body {
                background-color: rgb(180, 244, 243);
              }
        .toss{
            display: flex;
            flex-direction: row;
            width: 700px;
            justify-content: space-around;
        }
        img {
            width: 200px; 
            height: 200px; 
            object-fit: cover;
            object-position: 50% 50%; 
        }
    </style>
</head>
<body>
    <center>
    <h1>{{message}}</h1>
    <h1>Choose bat or bowl</h1>
    <br><br><br><br><br>
    <div class="toss">
        <a href = "{{ url_for('bat') }}"><img src = "https://imgs.search.brave.com/VW1YXOGslkSPYp4O2lJM5iDhTxVbfKxIMoTcrnMCkgA/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5r/UjM0a01WRVVDY0VU/MjcwQkRQY2t3SGFI/YSZwaWQ9QXBp"></a>
        <a href = "{{ url_for('bowl') }}"><img src = "https://imgs.search.brave.com/KAenp7995tURdnnjriVEJolT6iGG3dcILlkJsvJlRN0/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5H/d2NxYmJHQktLT0xa/N2xicnNUTVF3SGFF/SyZwaWQ9QXBp"></a>
    </div>
    </center>
</body>

</html>