<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                    background-color: rgb(180, 244, 243);
                  }
          </style>
    </head>
    <body>
        <center>
            <br><br><br>
        <h1>{{ message }}</h1>
        <br><br><br><br><br><br>
        <input type="button" id="play" onclick="play()" value="Continue">
        <script>
            function play() 
            {
                    window.location.href = "{{ url_for('bowl') }}";  
            }
        </script>
        </center>
    </body>
</html>
