<!DOCTYPE html>
<html>
    <head>
        <title>CricMate</title>
        
    </head>
    <body>
        <header>
            <h2>CRICMATE</h2>
            <ul>
                <a href = "{{url_for('profile')}}"><li>GAMER PROFILE</li></a>
            </ul>
        </header>
        <main>
            
            <br><br><br><br><br><br><br>
            <p><b>"GET YOUR VIRTUAL BAT AND BALL READY!"</b></p>
            <br><br><br><br>
            <a href ="{{ url_for('toss') }}" class="button-85" role="button"><b>LET'S PLAY !</b></a>
            
            
        </main>           

    </body>