<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                    background-color: rgb(180, 244, 243);
                  }
          </style>
        <title>CricMate</title>
    </head>
    <body>
        <header>
            <h2>HAND CRICKET</h2>
            <ul>
                <a href = "{{url_for('profile')}}"><li>GAMER PROFILE</li></a>
            </ul>
        </header>
        <center>
        <main>
            
            <br><br><br><br><br><br><br>
            <p><b>"GET YOUR VIRTUAL BAT AND BALL READY!"</b></p>
            <br><br><br><br>
            <a href ="{{ url_for('toss') }}" class="button-85" role="button"><b>LET'S PLAY !</b></a>
            
        </main>           
        </center>
    </body>