<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
              background-color: rgb(180, 244, 243);
            }
        h1 {
          font-size: 24px;
          margin: 10px;
          color: black;
        }
  </style>
  </head>

  <body>
    <nav>
      <div class="menu">
        <a href="{{url_for('toss')}}">Home</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('login')}}">Logout</a>
      </div>
    </nav>
  <center>
    <div class="container-fluid">
      <br><br><br>
      <h2>User Profile</h2>
      <br><br><br>
      <h3>Name : {{username}}</h3>
      <h3>Email : {{email}}</h3>
    </div> 
  </center>
  </body>
</html>