
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <center>
        <h1>Toss Time</h1><br><br>
        <a href = "{{ url_for('Heads') }}"><img style = "margin-top: 100px;"height = "300px" width = "250px" src = "https://imgs.search.brave.com/tgn5RLJO4W94hBtcAzzeCqgRt6QYiidXwgFPnKKa-AM/rs:fit:300:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JRi5q/TXBpRXlyU3pBQmd6/T2prOHFYSWxBJnBp/ZD1BcGk"></a>
       <a href = "{{ url_for('Tails') }}"> <img height = "300px" width = "250px" src = "https://imgs.search.brave.com/Yq7y4FiEIM2siFlanVQeqFd4mErE3JAGrmjn7-LEtC8/rs:fit:474:494:1/g:ce/aHR0cHM6Ly9pLmVi/YXlpbWcuY29tL2lt/YWdlcy9nL21uRUFB/T1N3VGg5aU5RUHAv/cy1sNTAwLmpwZw"></a>
    </center>

</body>
</html>